<%- include('header.ejs') %>
<div class="soon">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="soon-content text-center">
                    <div class="soon-content-wrapper" >
                        <img src="/images/Screenshot 2023-09-12 110622.png" alt="Logo" class="soon-logo mx-auto " style="max-width: 200px;">
                        <h1 class="soon-title" style="color: green;">Thankyou For Your Order </h1><!-- End .soon-title -->
                        <h6>The order for MR. <%= address.Username %> has been placed we will update you the status .</h6>
                        <div class="coming-countdown countdown-separator"></div><!-- End .coming-countdown -->
                        <hr class="mt-2 mb-3 mt-md-3">
                        <a href="/dash" class="btn btn-outline-danger btn-block mb-3"><span>View Order</span></a>
                        <a href="/" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE
                            SHOPPING</span><i class="icon-refresh"></i></a>
                        <p>We are currently working on an awesome new site. Stay tuned for more information.
                            Subscribe to our newsletter to stay updated on our progress.</p>
                        <form action="#">
                            <div class="input-group mb-5">
                                <input type="email" class="form-control bg-transparent" placeholder="Enter your Email Address" required>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary-2" type="submit">
                                        <span>SUBSCRIBE</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div class="social-icons justify-content-center mb-0">
                            <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                            <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                            <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                            <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
                            <a href="#" class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
                        </div><!-- End .soial-icons -->
                    </div><!-- End .soon-content-wrapper -->
                </div><!-- End .soon-content -->
            </div><!-- End .col-md-9 col-lg-8 -->
        </div><!-- End .row -->
    </div><!-- End .container -->
    
    <!-- End .soon-bg bg-image -->
</div><!-- End .soon -->
<!-- Plugins JS File -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.plugin.min.js"></script>
<script src="assets/js/jquery.countdown.min.js"></script>
<!-- Main JS File -->
<script src="assets/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.14.0/dist/sweetalert2.all.min.js"></script>

<script>
$(document).ready(() => {
    Swal.fire({
        position: 'center',
        icon: 'success',
        title: 'Order placed successfully',
        showConfirmButton: false,
        timer: 1500
    });
});
</script>

<%- include('footer.ejs') %>